.login-box, .signup-box {
  width: 400px; /* Define el tamaño del cuadro */
  padding: 40px; /* Añade espacio interno alrededor del contenido */
  margin: 100px auto; /* Centra el cuadro horizontalmente y añade un margen superior */
  background-color: #f4f4f4; /* Color de fondo claro */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Aplica una sombra para darle profundidad */
  border-radius: 10px; /* Bordes redondeados del cuadro */
  text-align: center; /* Centra el texto dentro del cuadro */
}

.login-box h1, .signup-box h1 {
  font-size: 3rem; /* Tamaño de fuente para el texto 'Bienvenidos' */
  margin-bottom: 20px; /* Espacio inferior debajo del título */
}

.user-box {
  margin-bottom: 20px; /* Espacio entre cada cuadro de texto */
}

.user-box input {
  width: 100%; /* Ancho total del contenedor */
  padding: 10px; /* Espaciado interno en el cuadro de texto */
  margin: 10px 0; /* Espaciado arriba y abajo de los inputs */
  border: 1px solid #ccc; /* Borde gris claro alrededor del cuadro de texto */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  font-size: 16px; /* Tamaño de la fuente en los campos de texto */
}

.submit .button_regis .button_sala{
  background-color: #800000; /* Color vino predeterminado para los botones */
  color: white; /* Texto en blanco */
  padding: 12px 20px; /* Espaciado interno dentro de los botones */
  border: none; /* Sin borde visible */
  border-radius: 5px; /* Bordes redondeados para los botones */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre los botones */
  font-size: 16px; /* Tamaño de la fuente dentro de los botones */
  transition: background-color 0.3s ease; /* Efecto de transición suave en el color de fondo */
  width: 100%; /* El botón ocupa todo el ancho del contenedor */
  margin-top: 10px; /* Espaciado superior adicional para separar los botones */
}

button:hover .submit .button_regis .button_sala {
  background-color: #310101fa; /* Cambia a un tono más oscuro cuando se pasa el mouse */
}

button:focus .submit .button_regis .button_sala{
  background-color: #5f0505; /* Mantiene el color vino cuando se enfoca */
  outline: none; /* Elimina el borde del botón cuando está enfocado */
}

button:active .submit .button_regis .button_sala{
  background-color: #660000; /* Oscurece el color ligeramente cuando se presiona el botón */
}

