body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .interfaz-admin {
    padding: 20px;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFCCC8;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-header h1 {
    margin: 0;
    font-size: 30px;
  }
  
  .dashboard-header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .products-section, .categories-section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .add-btn {
    background-color: rgb(56, 16, 8);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .add-btn:hover {
    background-color: #960500;
  }
  
  .products-grid, .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card, .category-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .product-card h3, .category-card h3 {
    margin: 15px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-card p {
    font-size: 14px;
    color: #555;
  }
  
  .product-card span {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  .actions {
    margin-top: 15px;
  }
  
  .edit-btn, .delete-btn {
    background-color: rgb(159, 159, 159);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .delete-btn {
    background-color: rgb(93, 9, 9);
  }
  
  .edit-btn:hover {
    background-color: #727272;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  