/* Establece el comportamiento de todos los elementos en el sitio */
* {
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho y alto de los elementos */
  margin: 0; /* Elimina el margen por defecto de todos los elementos */
  padding: 0; /* Elimina el padding por defecto de todos los elementos */
}

/* Estilos generales para el cuerpo de la página */
body {
  font-family: Georgia, Times, 'Times New Roman', serif; /* Establece la fuente de texto para todo el cuerpo */
  background-color: #f9f9f9; /* Define el color de fondo de la página */
}

/* Estilos para el contenedor principal de productos */
.sala-productos {
  padding: 20px; /* Añade espacio alrededor del contenedor */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilos para el título */
.sala-productos h1 {
  font-size: 2.5em; /* Define el tamaño de fuente del título */
  color: #ffffff; /* Establece el color del título como blanco */
  margin-bottom: 20px; /* Añade espacio debajo del título */
  transform: translateY(10px); /* Mueve ligeramente el título hacia abajo */
}

/* Estilos para la cuadrícula de productos */
.productos-grid {
  display: grid; /* Utiliza el sistema de grid para organizar los productos */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Define el tamaño de las columnas de la cuadrícula */
  gap: 20px; /* Establece el espacio entre los productos */
  padding: 0 10px; /* Añade espacio lateral dentro del contenedor de la cuadrícula */
}

/* Estilos para las tarjetas de producto */
.product-card {
  background-color: #fff; /* Define el color de fondo de las tarjetas de producto */
  border-radius: 8px; /* Redondea las esquinas de las tarjetas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Aplica una sombra sutil para dar profundidad */
  overflow: hidden; /* Oculta cualquier contenido fuera de los límites de la tarjeta */
  transition: transform 0.3s; /* Añade una transición suave al hacer hover */
}

/* Efecto de hover en las tarjetas de producto */
.product-card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta cuando se pasa el ratón */
}

/* Estilos para las imágenes dentro de las tarjetas de producto */
.product-card img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que cubra el área sin distorsionarse */
  aspect-ratio: 1920 / 1361; /* Define la relación de aspecto de la imagen */
  border-bottom: 1px solid #eee; /* Añade una línea sutil debajo de la imagen */
}

/* Estilos para el título de cada producto dentro de la tarjeta */
.product-card h3 {
  font-size: 1.2em; /* Establece el tamaño de fuente para el nombre del producto */
  color: #333; /* Define el color del texto como gris oscuro */
  margin: 10px; /* Añade espacio alrededor del título */
}

/* Estilos para la descripción de cada producto dentro de la tarjeta */
.product-card p {
  color: #666; /* Define el color del texto como gris */
  margin: 5px 10px; /* Añade un pequeño margen alrededor del párrafo */
}

/* Estilos para el precio dentro de la tarjeta de producto */
.product-card p.price {
  font-size: 1.5em; /* Aumenta el tamaño de la fuente del precio */
  color: #ff3d00; /* Establece el color del precio como rojo anaranjado */
  margin: 5px 10px; /* Añade espacio alrededor del precio */
}

/* Estilos para el botón de agregar al carrito */
.add-to-cart-button {
  background-color: rgb(56, 16, 8); /* Define el color de fondo del botón */
  color: white; /* Define el color del texto dentro del botón */
  border: none; /* Elimina el borde por defecto del botón */
  border-radius: 5px; /* Redondea las esquinas del botón */
  padding: 10px; /* Añade espacio dentro del botón */
  font-size: 1em; /* Define el tamaño de la fuente dentro del botón */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  display: inline-flex; /* Utiliza flexbox para alinear el contenido del botón */
  align-items: center; /* Alinea verticalmente los elementos dentro del botón */
  justify-content: center; /* Centra el contenido dentro del botón */
  margin: 10px; /* Añade espacio alrededor del botón */
  transition: background-color 0.3s; /* Añade una transición suave al cambiar el color de fondo */
}
  
  .add-to-cart-button:hover {
    background-color: #bc5353; /* Color más claro en hover */
  }
  
  .add-to-cart-button svg {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }
  /* Añade un contenedor para el título */
  .title-container {
    background-color: rgb(93, 9, 9); /* Color de fondo del cuadrado */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    text-align: center; /* Centra el texto */
  }
  /* Estilos para la línea decorativa debajo del título */
  .decorative-line {
    width: 10%; /* Ajusta el ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: #ffffff; /* Color de la línea*/
    margin: 10px auto; /* Centra la línea y agrega espacio arriba y abajo */
    border-radius: 5px; /* Bordes redondeados en la línea */ 
  }
  
  
  
